/* css file for the time log portion of the info page */

input,
option,
select,
button {
    font-family: motiva-sans, sans-serif;
    font-style: normal;
    font-weight: 200;
    color: #3d3d3d;
    font-size: 15px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.log-time-popup {
    background-color: #fff;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #464b4f;
    z-index: 11;
}

.hideform {
    display: none;
}

#log-time-header {
    background-color: #464b4f;
    color: #fff;
    font-size: 21px;
    width: 100%;
    float: left;
}

#header {
    display: inline-block;
    padding: 5px;
}

#close-button {
    float: right;
    margin: 5px;
    font-size: 16pt;
    border-radius: 2px;
    cursor: pointer;
}

.row {
    margin: 10px;
}

#date-time-container {
    float: left;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

#time-label {
    margin-left: 25px;
}

#time-input {
    margin-right: 20px;
    width: 120px;
}

#date-input {
    width: 165px;
}

#date-time-container .input-box {
    margin-left: 12px;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    font-size: 14pt;
}

#date-time-container .text-label {
    color: #888888;
}

.text-label {
    font-size: 16pt;
}

#sign-instructions {
    text-align: center;
    font-size: 16px;
}

#e-sign-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    border: 1px solid #464b4f;
    padding: 20px;
    margin: auto;
    margin-top: 15px;
}

#sign-here {
    margin-right: 15px;
    font-size: 20px;
}

#e-sign-input {
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    width: 80%;
    font-size: 25px;
}

#submit-log {
    display: block;
    margin: 30px auto;
    background-color: #464b4f;
    color: #fff;
    font-size: 16pt;
    width: 120px;
    height: 35px;
    border-radius: 12px;
    border: 0px;
    cursor: pointer;
}
