@import url('https://fonts.googleapis.com/css?family=Domine:400,700');

body {
  /*background-repeat: no-repeat;*/
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
}

#header-background 
{
  background-color: #33465c;
  text-align: center;
  height: 200px;
}

#description 
{
  text-align: center;
  color: #9c9a9a;
  font-size: 250%;
  margin-top: 10px;
}

#imgLeft 
{
  max-width: 150px;
  max-height: 300px;
  position: absolute;
  left: 0;
  z-index: -1;
}

#imgRight 
{
  max-width: 150px;
  max-height: 300px;
  position: absolute;
  right: 0;
  z-index: -1;
}

.container 
{
  overflow: hidden;
  width: 500px;
  margin: auto;
  border: black solid 1px;
  background-color: #252525;
}

.tab-parent 
{
  float: left;
  width: 50%;
  height: 40px;
  text-align: center;
  background-color: #252525;
  border: black solid 1px;
  line-height: 10px;
  color: white;
}

.tab-admin 
{
  float: left;
  width: 49%;
  height: 40px;
  text-align: center;
  background-color: #ffffff;
  border: black solid 1px;
  line-height: 10px;
}

#panel-body 
{
  margin-top: 65px;
  margin-bottom: 25px;
}

#PIN-textbox 
{
  width: 200px;
  height: 40px;
  font-size: 15pt;
  padding: 0px 10px;
}

::placeholder 
{
  font-style: italic;
}

#keypad 
{
  margin-top: 10px;
}

.key 
{
  width: 55px;
  height: 55px;
  margin: 5px;
  font-size: 20pt;
  border-radius: 10px;
  background-color: #414141;
  color: #ffffff;
}

.key img {
  width: 30px;
  height: auto;
}

#submit 
{
  background-color: #7cc576;
}

#forgot-pin 
{
  margin-top: 25px;
}

#forgot-link 
{
  text-align: center;
  color: #a4a4a4;
  font-size: 100%;
}

#logo img 
{
  max-width: 150px;
  max-height: 300px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

/*#main {
  margin: auto;
  width: 85%;
}

form {
  background-color: #252525;
  margin: auto;
  margin-top: 40px;
  width: 400px;
  height: 300px;
  padding: 1em;
  border: 1px solid #000000;
  color: #000000;
}

.labels 
{
  display: inline-block;
  text-align: center;
  width: 20%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.input 
{
  display: inline-block;
  text-align: center;
  width: 58%;
  vertical-align: middle;
}

.input-field 
{
  height: 20px;
  width: 200px;
  padding: 5px;
  margin: 10px;
  text-align: center;
}

#Login {
  background-color: #3D9970;
  border-radius: 1em;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: auto;
  border: 0px solid;
  border: 1px solid #000000;
}

#Parent
{
  background-color: white;
  color: black;
  font-size: 1em;
  height: 40px;
  width: 5%;
  margin-top: 5px;
}

#Admin
{
  background-color: white;
  color: black;
  font-size: 1em;
  height: 40px;
  width: 5%;
  margin-top: 5px;
}

.Admin
{
  text-align: center;
  display:inline-block;
  margin-right: 10px;
}

.Parent
{
  text-align: center;
  display:inline-block;
  margin-right: 10px;
}


#virtualKey {
  position: relative;
}

#signIn {
  position: relative;
}
*/

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}

