@import url('https://fonts.googleapis.com/css?family=Domine:400,700');

body {
  /*background-repeat: no-repeat;*/
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
}

#header-background {
  background-color: #33465c;
  text-align: center;
}

img {
  width: 45%;
  height: auto;
}

#description {
  text-align: center;
  color: #9c9a9a;
  font-size: 250%;
  margin-top: 10px;
}

#main {
  margin: auto;
  width: 85%;
}

form {
  background-color: #cccccc;
  margin: auto;
  margin-top: 75px;
  width: 400px;
  height: 300px;
  padding: 1em;
  border: 1px solid #000000;
  color: #000000;
}

.labels {
  display: inline-block;
  text-align: left;
  width: 20%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 200px;
  padding: 5px;
  margin: 10px;
}

#Login {
  background-color: #3D9970;
  border-radius: 1em;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: auto;
  border: 0px solid;
  border: 1px solid #000000;

}

#virtualKey {
  position: relative;
  left: 160px;
}

#signIn {
  position: relative;
  left: 285px;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
