body {
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #eee;
}

#header-background {
  background-color: #676767;
  text-align: center;
  height: 150px;
}

#title {
  max-width: 500px;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  margin: 25px;
  background-color: #0476b7;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-size: 16pt;
  cursor: pointer;
  padding: 6px;
  padding-top: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

#sign-out {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  margin: 25px;
  background-color: #c83333;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-size: 16pt;
  cursor: pointer;
  padding: 6px;
  padding-top: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.material-icons {
  font-family: 'Material Icons';
  color: white;
  font-size: 16px;
  padding: 5px;
  float: left;
}

.header-buttons {
  padding-top: 5px;
}

#description {
  text-align: center;
  color: #777;
  font-size: 40px;
  margin-top: 20px;
}

#add {
  width: 180px;
  margin: 28px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #1baa36;
  color: #1baa36;
  font-size: 16pt;
  cursor: pointer;
  padding: 6px;
  padding-top: 2px;
  text-align: center;
  padding-top: 5px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

#add-button {
    margin-bottom: 10px
}

#log-header-container {
    /*maring-bottom: 10px;*/
    background-color: #333;
}

.material-icons-add {
  font-family: Material Icons;
  font-style: normal;
  font-size: 24px;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  color: #1baa36;
  cursor: pointer;
  padding-right: 10px;
  padding-top: 0;
}

#log-container {
    margin: 0px auto;
    border-collapse: collapse;
    width: 1000px;
    margin-top: 35px;
}

#search-icon {
    color: #444;
}

#search-input {
    /*float: left;*/
    font-size: 14pt;
    padding: 5px;
    border-radius: 10px;

}

#search-label {
    float: left;
    font-size: 18pt;
    margin-right: 10px;
}

#search {
    float: right;
    margin-bottom: 30px;
    width: 256px;
    background-color: #b2b2b2;
    padding: 8px;
    border-radius: 10px;
    margin-right: 50px;
}

#log-table {
    margin: 0px auto;
    background-color: white;
    border-collapse: collapse;
    width: 1000px;
}

table {
  margin: 0px auto;
  background-color: white;
  border-collapse: collapse;
  width: 850px;
}

/* Header cells */

th {
  font-size: 22px;
  padding: 5px;
  text-align: center;
  background-color: #676767;
  color: white;
}

/* Cells */

td {
  font-size: 22px;
  padding: 4px;
}

.material-icons-table {
  font-family: Material Icons;
  font-style: normal;
  font-size: 24px;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  color: #757575;
  cursor: pointer;
}

.table-button {
  text-align: center;
}

#date-header {
    width: 120px;
}

#sign-in-header {
    width: 160px;
}

#sign-out-header {
    width: 160px;
}

#name-header {
    width: 165px;
}

/* Add Log Popup styles */

.hide {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.add-log-popup {
    background-color: #fff;
    width: 590px;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #464b4f;
    z-index: 11;
}

#add-log-header {
    background-color: #464b4f;
    color: #fff;
    font-size: 21px;
    width: 100%;
    float: left;
    margin-bottom: 15px;
}

#header {
    display: inline-block;
    padding: 5px;
}

#close-button {
    float: right;
    margin: 5px;
    font-size: 16pt;
    border-radius: 2px;
    cursor: pointer;
}

#instructions {
    text-align: center;
    font-size: 16px;
    color: #777;
    line-height: 1.5;
}

.date-container {
    float: left;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

#date-input {
    margin-left: 18px;
}

.child-container {
    float: left;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

.sign-in-container {
    float: left;
    width: 250px;
    background-color: #eee;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 15px;
    margin-left: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.sign-out-container {
    float: right;
    width: 250px;
    background-color: #eee;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.sign-label {
    font-size: 14pt;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #888888;
    font-weight: bold;
    text-align: center;
}

.label {
    font-size: 14pt;
    color: #222;
    margin-left: 35px;
    margin-top: 12px;
    margin-bottom: 5px;
}

.input-box {
    font-family: motiva-sans, sans-serif;
    margin-left: 35px;
    font-size: 14pt;
    width: 170px;
    padding: 5px;
    border: 1px solid #464b4f;
}

.select-box {
    font-size: 14pt;
    width: 185px;
    height: 40px;
    padding: 5px;
    border: 1px solid #464b4f;
    margin-left: 12px;
}

.button {
    display: block;
    margin: 25px auto;
    background-color: #464b4f;
    color: #fff;
    font-size: 16pt;
    width: 180px;
    height: 45px;
    border-radius: 12px;
    border: 0px;
    cursor: pointer;
}

.error-message-label {
  text-align: center;
  font-size: 14pt;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* Add Parent Popup styles */

.add-parent-popup {
  background-color: #fff;
  width: 590px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #464b4f;
  z-index: 11;
}

#add-parent-header {
  background-color: #464b4f;
  color: #fff;
  font-size: 21px;
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

#header {
  display: inline-block;
  padding: 5px;
}

#close-button {
  float: right;
  margin: 5px;
  font-size: 16pt;
  border-radius: 2px;
  cursor: pointer;
}

#sign-instructions {
  text-align: center;
  font-size: 16px;
  color: #777;
  line-height: 1.5;
}

#names-container {
  overflow: hidden;
}

#parent1-container {
  float: left;
  width: 250px;
  background-color: #eee;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 15px;
  margin-left: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
}

#parent2-container {
  float: right;
  width: 250px;
  background-color: #eee;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 30px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.parent-label {
  font-size: 14pt;
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 20px;
  color: #888888;
  font-weight: bold;
}

.name-label {
  font-size: 14pt;
  color: #222;
  margin-left: 25px;
  margin-top: 12px;
  margin-bottom: 5px;
}

.input-box {
  margin-left: 25px;
  font-size: 14pt;
  width: 185px;
  padding: 5px;
  border: 1px solid #464b4f;
}

#PIN {
  text-align: center;
  margin: 0;
}

#pin-container {
  text-align: center;
}

#pin-label {
  font-size: 14pt;
  margin-bottom: 5px;
}

.button {
  display: block;
  margin: 25px auto;
  background-color: #464b4f;
  color: #fff;
  font-size: 16pt;
  width: 180px;
  height: 45px;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
}

.pin-message-label {
  text-align: center;
  margin-top: 10px;
  font-size: 14pt;
}

.error {
  color: red;
}

.success {
  color: green;
}

/* Add Child Popup styles */

.hide {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
}

.add-child-popup {
  background-color: #fff;
  width: 590px;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  margin: auto;
  border: 1px solid #464b4f;
  z-index: 11;
}

#add-child-header {
  background-color: #464b4f;
  color: #fff;
  font-size: 21px;
  width: 100%;
  float: left;
  margin-bottom: 15px;
}

#header {
  display: inline-block;
  padding: 5px;
}

#close-button {
  float: right;
  margin: 5px;
  font-size: 16pt;
  border-radius: 2px;
  cursor: pointer;
}

#sign-instructions {
  text-align: center;
  font-size: 16px;
  color: #777;
  line-height: 1.5;
}

.names-container, .parents-container {
  float: left;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  margin-top: 30px;
  margin-left: 59px;
  margin-right: 59px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 10px;
}

.parents-container {
  margin-bottom: 40px;
}

#child-last-label, #parent-2-label {
  margin-left: 40px;
}

#child-last-input, #select-parent2 {
  margin-left: 40px;
  margin-right: 25px;
}

.name-label {
  font-size: 14pt;
  color: #222;
  margin-left: 25px;
  /*margin-top: 12px;*/
  margin-bottom: 10px;
}

.input-box {
  margin-left: 25px;
  font-size: 14pt;
  width: 185px;
  padding: 5px;
  border: 1px solid #464b4f;
}

.select-box {
  margin-left: 25px;
  font-size: 14pt;
  width: 200px;
  padding: 5px;
  border: 1px solid #464b4f;
}

.error-message-label {
  text-align: center;
  font-size: 14pt;
}

.error {
  color: red;
}

.success {
  color: green;
}

.button {
  display: block;
  margin: 25px auto;
  background-color: #464b4f;
  color: #fff;
  font-size: 16pt;
  width: 180px;
  height: 45px;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
}

/* Delete dialog box */
.ui-widget-content {
  background: #F9F9F9;
  border: 0;
  color: #222222;
}

.ui-dialog-content {
  text-align: center;
  margin: 15px;
}

.ui-dialog {
  left: 0;
  outline: 0 none;
  padding: 0 !important;
  position: absolute;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.ui-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: auto;
  position: relative;
  padding: 0 !important;
}

.ui-widget-header {
  background: #c83333;
  border: 0;
  color: #fff;
  font-weight: normal;
  font-weight: bold;
}

.ui-dialog .ui-dialog-titlebar {
  position: relative;
  font-size: 1em;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
  margin-left: 25px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  padding: 0;
}

.ui-dialog-buttonpane .ui-widget-content .ui-helper-clearfix {
  padding: 0;
}

.ui-button {
  padding: .2em 1em;
  width: 100px;
}

.ui-corner-all {
  border-radius: 0;
}
