body {
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #eee;
}

#header-background {
  background-color: #676767;
  text-align: center;
  height: 150px;
}

#title {
  max-width: 500px;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  margin: 25px;
  background-color: #4e4e4e;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-size: 16pt;
  cursor: pointer;
  padding: 6px;
  padding-top: 2px;

  -moz-box-shadow: 3px 3px 3px 3px #454545;
  -webkit-box-shadow: 3px 3px 3px 3px #454545;
  box-shadow: 3px 3px 3px 3px #454545;
}

#sign-out {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  margin: 25px;
  background-color: #c83333;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-size: 16pt;
  cursor: pointer;
  padding: 6px;
  padding-top: 2px;

  -moz-box-shadow: 3px 3px 3px 3px #454545;
  -webkit-box-shadow: 3px 3px 3px 3px #454545;
  box-shadow: 3px 3px 3px 3px #454545;
}

.material-icons {
  font-family: 'Material Icons';
  color: white;
  font-size: 16px;
  padding: 5px;
  float: left;
}

.header-buttons {
  padding-top: 5px;
}

#description {
  text-align: center;
  color: #777;
  font-size: 40px;
  margin-top: 20px;
}

table {
  margin: 0px auto;
  background-color: white;
  border-collapse: collapse;
  width: 650px;
}

/* Header cells */
th {
  font-size: 22px;
  padding: 5px;
  text-align: center;
  background-color: #676767;
  color: white;
}

/* Cells */
td {
  font-size: 22px;
  padding: 4px;
}

.material-icons-table {
  font-family: Material Icons;
  font-style: normal;
  font-size: 24px;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  color: #757575;
  cursor: pointer;
  /*padding: 5px;*/
  /*float: left;*/
}

.table-button {
  text-align: center;
}

.material-icons-add {
  font-family: Material Icons;
  font-style: normal;
  font-size: 24px;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  color: white;
  cursor: pointer;
  padding-right: 10px;
  padding-top: 0;
}

#add {
  width: 200px;
  margin: 20px;
  background-color: #4e4e4e;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-size: 16pt;
  cursor: pointer;
  padding: 6px;
  padding-top: 2px;
  text-align: center;
  padding-top: 5px;
}
