/*-------------------------------------------------------------------------
* Name: admin.css                                                           *
* Description:  Styling for elements on the admin home page                 *
---------------------------------------------------------------------------*/

#menu-container {
    width: 60%;
    margin: 0 20%;
    margin-top: 0;
}

.box {
    background-color: white;
    float: left;
    border: none;
    height: 30%;
    width: 18%;
    margin: 1%;
    margin-top: 0;
    text-align: center;
    border-radius: 2%;
    cursor: pointer;
}

.icon {
    max-width: 65%;
    padding-top: 9%;
}

.title {
    font-size: 1.5vw;
    margin-top: 1.4%;
    margin-bottom: 2%;
    
}

.subtitle {
    font-size: 1vw;
    color: #777;
    margin: 9.5%;
}