/*-------------------------------------------------------------------------
* Name: admin.css                                                           *
* Description:  Styling for elements on the admin home page                 *
---------------------------------------------------------------------------*/

#menu-container {
    margin:auto;
    text-align: center;
    width:50%;
    padding-right:12%;

}

.box {
    background-color: white;
    float: right;
    border: none;
    width: 25%;
    margin: 1%;
    margin-top: 0;
    text-align: center;
    vertical-align: middle;
    border-radius: 2%;
    cursor: pointer;
    display: inline-table;
}

.icon {
    max-width: 55%;
    padding-top: 9%;
}

.title {
    font-size: 1.5vw;
    margin-top: 1.4%;
    margin-bottom: 2%;
    
}

.subtitle {
    font-size: 1vw;
    color: #777;
    margin: 9.5%;
}