/*-------------------------------------------------------------------------
* Name: info_reports.css                                                     *
* Description:  Styling for the reports page:                                *
---------------------------------------------------------------------------*/

#filter-selections {
    margin: 0 auto;
    margin-top: 35px;
    background-color: #ccc;
    width: 600px;
    border-radius: 25px;
    text-align: center;
    padding: 10px;
}

#date-container {
    margin-bottom: 40px;
    margin-top: 10px;
}

.label {
    font-size: 15pt;
    padding: 10px;
    font-weight: bold;
    color: #3a3a3a;
}

.input-box {
    font-size: 12pt;
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin-top: 13px;
    border-radius: 4px;
}

#select-child{
    font-size: 16pt;
}

.select-box {
    width: 180px;
    cursor: pointer;
}

.select-container{
    margin-top: 13px;
}

#button_validate {
    display: block;
    margin: 20px auto;
    margin-top: 40px;
    margin-bottom: 35px;
    background-color: #464b4f;
    color: #fff;
    font-size: 16pt;
    width: 250px;
    height: 40px;
    border-radius: 12px;
    border: 0px;
    cursor: pointer;
}

/* Error messages */

.error-message-label {
    text-align: center;
    font-size: 14pt;
    margin-top: 10px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.hide {
    display: none;
}