/*-------------------------------------------------------------------------
* Name: main.css                                                            *
* Description:  Styling for elements on a page that are reusable for        *
*               different pages.                                            *
* Example: Little Liberators header, back & home buttons, logos, etc.       *
---------------------------------------------------------------------------*/

body {
  font-family: motiva-sans, sans-serif;
  font-style: normal;
  font-weight: 200;
  background-color: #eee;
  margin:0;
  padding:0;
  margin-bottom: 40px;
}

#header-background {
  background-color: #777;
  text-align: center;
  height: 150px;
}

#title {
  max-width: 500px;
}

#back {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  margin: 25px;
  background-color: #0476b7;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-size: 16pt;
  cursor: pointer;
  padding: 6px;
  padding-top: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

#sign-out {
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  margin: 25px;
  background-color: #c83333;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-size: 16pt;
  cursor: pointer;
  padding: 6px;
  padding-top: 2px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.material-icons {
  font-family: 'Material Icons';
  color: white;
  font-size: 16px;
  padding: 5px;
  float: left;
}

.header-buttons {
  padding-top: 5px;
}

#description {
  text-align: center;
  color: #777;
  font-size: 40px;
  margin-top: 20px;
}

/* Delete dialog box */
.ui-widget-content {
  background: #F9F9F9;
  border: 0;
  color: #222222;
}

.ui-dialog-content {
  text-align: center;
  margin: 15px;
}

.ui-dialog {
  left: 0;
  outline: 0 none;
  padding: 0 !important;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.ui-dialog .ui-dialog-content {
  background: none repeat scroll 0 0 transparent;
  border: 0 none;
  overflow: auto;
  position: relative;
  padding: 0 !important;
}

.ui-dialog .ui-dialog-titlebar {
  position: relative;
  font-size: 1em;
}

.ui-dialog .ui-dialog-buttonpane {
  text-align: center;
  margin-left: 25px;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none;
  padding: 0;
}

.ui-dialog-buttonpane .ui-widget-content .ui-helper-clearfix {
  padding: 0;
}

.ui-button {
  padding: .2em 1em;
  width: 100px;
}

.ui-corner-all {
  border-radius: 0;
}

/* Footer */
.logo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height: 60px; 
    padding: 10px;
}

#sbulogo {
  height: 50px;
}

.footer{
  margin-top: 20px;
  text-align:center;
  vertical-align: middle;
}

#copyright {
  font-size: 12px;
  color: #555;
  /*font-weight: bold;*/
  margin-top: 10px;
  margin-bottom: 20px;
}